    /* =====
GOBAL STYLES
===== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --sauce-gunmetal: #293241;
    --sauce-orange: #EE6c4d;
    --sauce-cyan: #e0fbfc;
    --sauce-powder: #98c1d9;
    --sauce-blue: #3d5a80;

    font-size: clamp(16px, 1.25vmin);
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", "sans serif";
}

h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}