---
import BaseLayout from '../layouts/baselayout.astro';
import '../styles/global.css';
---
<BaseLayout>
    <div class="blog-index-container">
        <h1>Sauce Blog</h1>

        <div class="search-wrapper">
          <sl-input class="search-box" placeholder="Search posts" size="large" pill>
          </sl-input>
          <sl-button class="search-button" size="large" pill>
            <sl-icon name="search"></sl-icon>
          </sl-button>
        </div>

        <div class="tag-filter-container">
            <sl-button variant="default" size="large">Localization</sl-button>
            <sl-button variant="default" size="large">CAT tools</sl-button>
            <sl-button variant="default" size="large">AI translation</sl-button>
            <sl-button variant="default" size="large">QA & testing</sl-button>
        </div>

        <div class="recent-posts-container">
            <sl-card class="card-overview">
                <img
                  slot="image"
                  src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="A kitten sits patiently between a terracotta pot and decorative grasses."
                />
              
                <strong>Mittens</strong><br />
                Magna commodo consectetur magna quis sint adipisicing. Elit et dolor eu occaecat elit irure. Excepteur sint culpa officia consequat irure et dolor velit.
                <br />
              
                <div slot="footer">
                  <sl-button pill>Read more</sl-button>
                </div>
              </sl-card>
              <sl-card class="card-overview">
                <img
                  slot="image"
                  src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="A kitten sits patiently between a terracotta pot and decorative grasses."
                />
              
                <strong>Mittens</strong><br />
                Velit exercitation est consectetur eiusmod ea aliquip occaecat eiusmod labore. Laboris esse consectetur occaecat deserunt irure ut fugiat.
                <br />
              
                <div slot="footer">
                  <sl-button pill>Read More</sl-button>
                </div>
              </sl-card>
              <sl-card class="card-overview">
                <img
                  slot="image"
                  src="https://images.unsplash.com/photo-1559209172-0ff8f6d49ff7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                  alt="A kitten sits patiently between a terracotta pot and decorative grasses."
                />
              
                <strong>Mittens</strong><br />
                Enim excepteur deserunt excepteur officia sit consequat tempor nostrud qui excepteur consequat. Quis Lorem est magna duis et dolore commodo.
                <br />
              
                <div slot="footer">
                  <sl-button pill>Read more</sl-button>
                </div>
              </sl-card>
        </div>

    </div>
</BaseLayout>

<style>
.blog-index-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3.5rem;
}

@media (max-width: 1200px) {
    .blog-index-container {
        max-width: 90%;
    }
}

.search-wrapper {
  display: flex;
}

.search-box {
    padding-bottom: 3rem;
    flex-grow: 1;
}

.search-button {
  margin-bottom: 0;
  padding: 0 .33rem;
}

.tag-filter-container {
    padding-bottom: 3rem;
    margin: 0 auto;
}

sl-button {
    padding: .65rem .65rem;
}

.recent-posts-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

@media (max-width: 768px) {
    .recent-posts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card-overview {
    max-width: 425px;
    padding: 0 .65rem;
    margin-bottom: 1.5rem;
}
</style>