---
import BaseLayout from '../layouts/baselayout.astro';
import '../styles/global.css';
---
<BaseLayout>
    <div class="blog-index-container">
        <h1 class="blog-title">Sauce Blog</h1>

        <div class="search-wrapper">
          <sl-input class="search-box" placeholder="Search posts" size="large" pill>
          </sl-input>
          <sl-button class="search-button" size="large" pill>
            <sl-icon name="search"></sl-icon>
          </sl-button>
        </div>

        <div class="tag-filter-container">
            <sl-button class="all-posts-btn" variant="default" size="large">All Posts</sl-button>
            <sl-button variant="default" size="large">CAT tools</sl-button>
            <sl-button variant="default" size="large">AI tools</sl-button>
            <sl-button variant="default" size="large">QA & testing</sl-button>
            <sl-button variant="default" size="large">MTPE</sl-button>
        </div>

        <div class="recent-posts-container">
          <div class="post-preview-container">
            <img class="post-preview-image" src="https://placehold.co/520x275/grey/white" alt="placeholder img">
            <time class="date-meta" datetime="2025-02-25">February 25, 2025</time>
            <br>
            <span class="post-preview-tag">Post Tags</span>
            <h2 class="post-preview-title">A Blog Post Title ;)</h2>
            <p class="post-preview-text">
              Esse adipisicing quis mollit fugiat Lorem dolore et sint non id qui Lorem amet. Exercitation aliqua adipisicing duis Lorem laborum cillum aute laborum nostrud qui qui.
            </p>
          </div>
          <div class="post-preview-container">
            <img class="post-preview-image" src="https://placehold.co/520x275/grey/white" alt="placeholder img">
            <time class="date-meta" datetime="2022-07-25">February 25, 2025</time>
            <br>
            <span class="post-preview-tag">Post Tags</span>
            <h2 class="post-preview-title">A Blog Post Title ;)</h2>
            <p class="post-preview-text">
              Esse adipisicing quis mollit fugiat Lorem dolore et sint non id qui Lorem amet. Exercitation aliqua adipisicing duis Lorem laborum cillum aute laborum nostrud qui qui.
            </p>
          </div>
          <div class="post-preview-container">
            <img class="post-preview-image" src="https://placehold.co/520x275/grey/white" alt="placeholder img">
            <time class="date-meta" datetime="2022-07-25">February 25, 2025</time>
            <br>
            <span class="post-preview-tag">Post Tags</span>
            <h2 class="post-preview-title">A Blog Post Title ;)</h2>
            <p class="post-preview-text">
              Esse adipisicing quis mollit fugiat Lorem dolore et sint non id qui Lorem amet. Exercitation aliqua adipisicing duis Lorem laborum cillum aute laborum nostrud qui qui.
            </p>
          </div>
          <div class="post-preview-container">
            <img class="post-preview-image" src="https://placehold.co/520x275/grey/white" alt="placeholder img">
            <time class="date-meta" datetime="2022-07-25">February 25, 2025</time>
            <br>
            <span class="post-preview-tag">Post Tags</span>
            <h2 class="post-preview-title">A Blog Post Title ;)</h2>
            <p class="post-preview-text">
              Esse adipisicing quis mollit fugiat Lorem dolore et sint non id qui Lorem amet. Exercitation aliqua adipisicing duis Lorem laborum cillum aute laborum nostrud qui qui.
            </p>
          </div>
        </div>

    </div>
</BaseLayout>

<style>
.blog-index-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3.5rem;
}

@media (max-width: 1200px) {
    .blog-index-container {
        max-width: 90%;
    }
}

.blog-title {
  text-align: center;
}

.search-wrapper {
  display: flex;
}

.search-box {
    padding-bottom: 2.25rem;
    flex-grow: 1;
}

.search-button {
  margin-bottom: 0;
  padding: 0 .33rem;
}

.tag-filter-container {
    padding-bottom: 3rem;
    margin: 0 auto;
}

sl-button {
    padding: .65rem .65rem;
}

sl-button::part(base):hover {
  background-color: var(--sauce-cyan);
}

.all-posts-btn::part(base) {
  background-color: var(--sauce-powder);
  border: 1px solid black;
}

.all-posts-btn::part(base):hover {
  background-color: var(--sauce-blue);
  color: var(--sauce-cyan);
}

.recent-posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.post-preview-container {
    flex-basis: 45%;
    margin-bottom: 2.5rem;
}

@media (max-width: 768px) {
    .recent-posts-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.post-preview-title {
  margin-bottom: -.33rem;
}

.post-preview-title h2 {
  font-size: clamp(1.2rem, 2.5vw, 2rem); /* overridden clamp value */
}

.post-preview-image {
  border-radius: .33rem;
  margin-bottom: -.33rem;
}

.date-meta {
  display: block;
  padding-top: 1.5rem;
}

.post-preview-tag {
  margin-bottom: -.33rem;
}

.post-preview-text {
  line-height: 1.66rem;
  max-width: 520px;
}
</style>