---
import BaseLayout from '../layouts/baselayout.astro';
import SearchBox from '../components/searchbox.astro';
import '../styles/global.css';
---
<BaseLayout>
    <div class="blog-index-container">
        <div class="search-bar">
            <SearchBox />
        </div>
        <div class="tag-filter">
            <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Tag Word 1</button>
            <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Tag Word 2</button>
            <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Tag Word 3</button>
        </div>
        <div class="article-card-container">
            <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
              <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
              <div class="card bg-base-100 w-96 shadow-xl">
                <figure>
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
                    alt="Shoes" />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Shoes!</h2>
                  <p>If a dog chews shoes whose shoes does he choose?</p>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
</BaseLayout>

<style>
    .blog-index-container {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: calc(90px + 2rem);
        margin-bottom: 2rem;
    }

    @media (max-width: 1024px){
        .blog-index-container {
            max-width: 90%;
        }
    }

    @media (max-width: 768px){
        .blog-index-container {
            max-width: 85%;
        }
    }

    .tag-filter {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .article-card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
</style>