---
import BaseLayout from '../layouts/baselayout.astro';
const pageTitle = "Secret Sauce: Globalization Consulting";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
</BaseLayout>