---
import Navigation from '../components/navigation.astro';
import Hamburger from '../components/hamburger.astro';
import ThemeIcon from './themeicon.astro';
---

<header>
    <nav>
        <Hamburger />
        <Navigation />
        <ThemeIcon />  
    </nav> 
</header>