---
import Navigation from '../components/navigation.astro';
import Hamburger from '../components/hamburger.astro';
---

<header>
    <nav>
        <Hamburger />
        <Navigation />   
    </nav> 
</header>