---
---
<script>
     import "../scripts/searchBox.alpine.js";
</script>

<!-- SearchBox.html -->
<div x-data="searchBox" class="search-box">
    <input
      type="search"
      x-model="searchQuery"
      @input="search"
      placeholder="Search blog posts..."
      class="search-input"
    />
    <span class="search-icon-container">
        <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px" fill="#293241"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
        </svg>
    </span>

</div>

  <style>
    .search-box {
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        algin-items: center;
    }

    .search-box input[type="search"] {
        border: 1px solid #3d5a80;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: .5rem;
        min-width: 450px;
        max-width: 1200px;
        min-height: 3rem;
    }

    .search-box input:active,
    .search-box input:focus {
        border: 1px solid #3d5a80;
    }

    .search-box input:hover {
        border: 1px solid #3d5a80;
        box-shadow: 2px 2px 2px #98c1d9;
    }

    .search-input {
        padding: 1rem;
        font-size: 1.5rem;
        padding-right: 2rem; /* Make space for the icon */
    }
  </style>