---
---
<div class="service-wrapper">
    <div class="service-container">
      <div class="diy-offer">
        <div class="diy-localize-img">
          <img src="https://placehold.co/400x400/orange/white" alt="placeholder img">
        </div>
        <div class="diy-localize">
          <h2>DIY + Native Expert</h2>
          <p>Minim dolore voluptate ad ut. Ullamco velit aliqua duis adipisicing laborum sit exercitation pariatur proident pariatur magna eu veniam aliquip. Officia ex qui irure fugiat sint pariatur aliquip pariatur deserunt culpa irure.</p>
          <button class="cta-button">Try it out</button>
        </div>
      </div>
      <div class="full-offer">
        <div class=""full-localize">
          <h2>Full Service Localization</h2>
          <p>Pariatur sunt proident reprehenderit officia excepteur cupidatat consectetur culpa tempor voluptate anim. Duis quis id culpa minim magna excepteur. Sint quis eu cillum amet aute. Labore eiusmod deserunt nulla dolore aute excepteur aliquip Lorem quis. Commodo labore esse veniam nulla nulla enim esse.</p>
          <button class="cta-button">Get a quote</button>
        </div>
        <div class="full-localize-img">
          <img src="https://placehold.co/400x400/orange/white" alt="placeholder img">
        </div>
      </div>
    </div>
</div>

<style>
.service-wrapper {
  padding-top: 1rem;
}

.service-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .service-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .service-container {
    max-width: 95%;
  }
}

.diy-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}

@media (max-width: 768px) {
  .diy-offer {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}

.diy-localize-img {
  margin-right: 1.5rem;
}

.full-offer-img {
  margin-left: 1.5rem;
}

.full-offer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}

@media (max-width: 768px) {
  .full-offer {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
}
</style>