---
import BaseLayout from './baselayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <div class="blog-post-container">
    <div class="content-container">
        <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
      <h1 class="blog-post-title">{frontmatter.title}</h1>
      <dl>
        <dt>Published:</dt>
        <dd>{frontmatter.pubDate.toString().slice(0,10)}</dd>
        <br>
        <dt>Author:</dt>
        <dd>{frontmatter.author}</dd>
        <br>
        <dt>Tags:</dt>
        <dd>{frontmatter.tags.join(', ')}</dd>
      </dl>
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  .blog-post-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: calc(90px + 2rem);
    margin-bottom: 2rem;
  }

  @media (max-width: 1024px) {
    .blog-post-container {
      max-width: 90%;
    }
  }

  @media (max-width: 768px) {
    .blog-post-container {
      max-width: 85%;
    }
  }

.content-container {
  text-align: justify;
  text-justify: inter-word;
  max-width: 80%;
  margin: 0 auto;
}

.blog-post-title {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

dd {
  display: inline-block;
  margin: 0;
}
</style>
